$baseblue: #377dff
$text-color: #77838f

.container
  color: $text-color
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin: 5% 15% 0
  position: relative
