.eventsForm
  display: flex
  flex-direction: column
  gap: 30px
  .submitBtn
    font-size: 18px
    border: none
    padding: 10px 20px
    border-radius: 30px
    text-decoration: none
    color: #fff
    background-color: rgb(55, 125, 255)
    transition: transform 0.3s
    &:hover
      transform: translateY(-5px)
  .titleField
    display: flex
    flex-direction: column
    gap: 10px
    color: #377dff
    .field
      font-size: 16px
      padding: 5px
      width: 100%
